<div id="list">
	<div class="list-item" *ngFor="let e of entries" style="height: 100%; display: inline-block; display: table; width: 100%; padding-bottom: 10px; padding-top: 10px;">
		<div class="list-content" style="width: 85%; display: table-cell; position: relative; padding-right: 10px;">
			<h3>{{ e.title }}</h3>
			<p [innerHTML]="e.content" style="text-align: justify; font-size: 1em;">
		</div>
		<div class="list-buttons" style="height: 100%; width: 15%; display: table-cell; position: relative; background: green;">
			<div class="button-holder" style="position: absolute; width: 100%; height: 100%;">
				<div class="edit" style="height: 50%; text-align: center; position: relative;">
					<div class="edit-text" style="position:absolute; width:100%; bottom:0; text-align:center;">edit</div>
				</div>
				<div class="delete" style="height: 50%; text-align: center; position: relative;">
					<div class="delete-text" style="position:absolute; width:100%; top:0; text-align:center;">delete</div>
				</div>
			</div>
		</div>
		<div style="clear: both;">
		</div>
	</div>
</div>
<div (click)="loadMore()" *ngIf="!emptyEntries">load more</div>